@import "../../global.scss";

.contact {
  background-color: black;
  padding: 20px;
  @include mobile {
    background-image: none;
    background-color: black;
    filter: grayscale(40);
    height: max-content;
  }
  .contactTitle {
    color: rgb(195, 195, 195);
    font-weight: 200;
    margin: 70px 0px;
    letter-spacing: 3px;
    padding: 0px 100px;
    @include mobile {
      text-align: center;
    }
  }
  .contactWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 100px;
    height: 500px;
    @include mobile {
      flex-direction: column;
      padding: 0px;
    }
    .contactLeft {
      flex: 1;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      @include mobile {
        width: 100%;
      }
      form {
        display: flex;
        flex-direction: column;
        width: 70%;
        display: flex;
        justify-content: center;
        gap: 10px;
        input {
          padding: 10px;
          background-color: black;
          color: white;
          opacity: 0.5;
          font-size: 20px;
          border: 1px solid white;
          @include mobile {
            padding: 5px;
          }
        }
        textarea {
          padding: 10px;
          background-color: black;
          color: white;
          opacity: 0.5;
          font-size: 20px;
          border: 1px solid white;
        }
        .contactBtn {
          width: 100%;
          align-self: center;
          padding: 10px;
          background-color: black;
          color: rgb(195, 195, 195);

          border: 1px solid rgb(195, 195, 195);
          margin-top: 20px;
          transition: 0.5s ease-in-out;
          &:hover {
            opacity: 0.7;
          }
          @include mobile {
            padding: 5px;
            width: 100%;
            margin-top: 10px;
          }
        }
      }
    }
    .contactRight {
      flex: 1;
      background-color: black;
      flex-direction: column;
      opacity: 0.5;
      height: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      border-radius: 10px;
      gap: 40px;
      @include mobile {
        margin-top: 10px;
        width: 80%;
        gap: 20px;
      }
      p {
        color: white;
        font-size: 25px;
        @include mobile {
          margin-top: 20px;
          font-size: 15px;
          text-align: center;
        }
      }
    }
  }
}
