@import "../../global.scss";


.hero{
    background-image: url('https://scontent.fmad6-1.fna.fbcdn.net/v/t1.6435-9/169268513_164948592152442_616418468724877503_n.png?_nc_cat=102&ccb=1-7&_nc_sid=e3f864&_nc_ohc=KXWOecfkUJgAX-lPWYC&_nc_ht=scontent.fmad6-1.fna&oh=00_AfBN-m9E5hylRBKbb-i18App1bV7FwPmLNoTt21IrmjSvA&oe=6473095D');
    background-size: 100%;
    background-position: center;
    height: calc(100vh - 60px);
    object-fit: cover;
    @include mobile{
        height: calc(40vh - 60px);
       }
    
    .heroWrapper{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
       
    }   
}